*
!.git
!.gitignore
!*.ipynb
!/scripts
!/scripts/*
!docker-compose*yml
!Dockerfile
!.devcontainer
!.devcontainer/*
!pyproject.toml
!.flake8
!.dockerignore
!install-docker.sh
!/arch_recognizer
!/arch_recognizer/*.py
!/arch_recognizer/**/*.py
!.env.dev
