*
!.git
!.gitignore
!*.ipynb
!/scripts
!/scripts/*
!/docker-compose.dev.yml
!/Dockerfile
!/devcontainer.json
!/pyproject.toml
!/poetry.lock
!/.flake8
!/.dockerignore
!/arch_id
!/arch_id/*.py
!/arch_id/**/*.py
!/run.sh
!/README.md
!/LICENSE.md
