*
!.git
!.gitignore
!*.ipynb
!/scripts
!/scripts/*
!/notebooks
!/notebooks/*
!/notebooks/**/*.ipynb
!/notebooks/**/*.py
!/notebooks/**/*.jpg
!docker-compose*yml
!Dockerfile
!.devcontainer
!.devcontainer/*
!pyproject.toml
!.flake8
!.dockerignore
